header {
    font-size: 50px;
    font-weight: bold;
    
    text-align: center;
    color: gray;
}

.new-todo {
    display: grid;
    width: 500px;
    grid-template-columns: 1fr 6fr;
    
    margin-left: auto;
    margin-right: auto;

    position: relative;
    left: -3px
}

.arrow-button {
    width: 50px;
    height: 56px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: blanchedalmond;
    border-right: 0px;
    border-color: black;
}

.add-todo-input {
    outline-width: 0px;
    background-color: blanchedalmond;
    width: 490px;
    height: 50px;
    font-size: 30px;
    border-left: 0px;
    border-color: black;
    
    margin-left: auto;
    margin-right: auto;
}

main {
    width: 540px;
}

.todo-list {
    list-style-type: none;
    display: block;
    font-size: 25px;
}

.todo-list li {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    width: 540px;
    
    background-color: blanchedalmond;
    
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    margin-top: -2px;

    position: relative;
    top: -25px;
}

.todo-list li input {
    width: 35px;
    height: 35px;
    margin-top: 20px;
}

li button {
    width: 35px;
    height: 35px;
    margin-top: 20px;
}

.items-left {
    width: 540px;
    height: 35px;
    background-color: blanchedalmond;

    
    margin-left: auto;
    margin-right: auto;

    position: relative;
    left: 20px;
    top: -52px;
    border: 2px solid black;
    font-size: 25px;
}

.todo-list p {
    width: fit-content;
    block-size: fit-content;
}



