@media screen and (min-width: 680px) {
    body {
        margin: 0;
        padding: 0;
        max-width: 550px;
        font-family: sans-serif;
        margin-left: auto;
        margin-right: auto;
    }
    .bottom-bar {
        width: 550px;
    }
}

@media screen and (max-width: 680px) {
    body {
        margin: 0;
        padding: 0;
        max-width: 80%;
        font-family: sans-serif;
        margin-left: auto;
        margin-right: auto;
    }
    .bottom-bar {
        width: 100%;
    }
}

h1 {
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    padding: 0px;
}

.all-content {
    background-color: #f5f5f5;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 15px 0.5px gray;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    border-bottom: 1px solid grey;
}

.border {
    display: grid;
    grid-template: "a b" / 1fr 7fr;
}

.toggle-label {
    margin: auto;
}

.replacement-bar {
    grid-area: a;
}

#toggle-label {
    grid-area: a;
}

.add-todo-input {
    grid-area: b;
    border: 0;
    outline: 0;
    background-color: #f5f5f5;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    font-style: italic;
    margin-top: auto;
    margin-bottom: auto;
}

.main {
    padding: 0;
    margin: 0;
    width: inherit;
}

.todo-list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.main ul li {
    border-bottom: 0.5px solid grey;
}

.todo-list li {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

.todo-list li input {
    margin: auto;
}

.todo-list li button {
    border: 0;
    background-color: #f5f5f5;
}

footer {
    width: inherit;
}

.bottom-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    list-style-type: none;
    text-align: center;
    font-size: 14px;
}

.items-left {
    text-align: left;
}

.bottom-bar button {
    border: 0;
    background-color: #f5f5f5;
    margin: auto;
}

.bottom-bar li {
    margin: auto;
}

.bottom-bar-list {
    width: inherit;
    border-bottom: 1px solid grey;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}